@use '../../styles/variables' as *;

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  &__dot {
    width: 15px;
    height: 10px;
    border-radius: 3px;
    background-color: var(--tertiary);


    &__active {
      background-color: var(--primary);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}