@use '../../styles/breakpoints' as breakpoint;
@use '../../styles/variables' as *;

.taskContainer {
  background-color: var(--tertiary);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 10px;
    z-index: 2;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;

    svg {
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    &__left {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;

      p {
        overflow-wrap: break-word;
        word-break: break-all;
        margin: 0;
        font-size: $p-font-size-medium;
        flex: 1;
      }

      &--completed {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        opacity: 0.5;
      }
    }
  }

  &__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 0 5px;
    gap: 20px;
    font-size: $p-font-size-small;

    &__detail {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

  }

  &__subtasks {
    margin: 20px 0 0 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }

  @include breakpoint.media('<=SMdesktop') {
    padding: 5px 15px;

    &__main {

      &__left {
        p {
          font-size: $p-font-size-small;
        }
      }
    }

    &__details {
      font-size: $p-font-size-x-small;
    }
  }

  @include breakpoint.media('<=LGphone') {
    margin: 0;
  }
}



.pastDeadline {
  color: var(--red);
}

.today {
  color: var(--yellow);
}

.upcoming {
  color: var(--green);
}