@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as breakpoint;

.listItem {
  display: flex;
  flex-direction: row;
  flex: 1 1 20%;
  min-width: 200px;


  &--grid {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    height: 180px;
    width: 100%;

    svg {
      position: absolute;
      z-index: -1;
    }

    p {
      z-index: 1;
      position: absolute;
      bottom: 0;
      font-weight: 600;
      font-size: $p-font-size-x-large;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    @include breakpoint.media('<=desktop') {
      height: 120px;

      svg {
        width: 80px;
        height: 80px;
      }

      p {
        font-size: $p-font-size-large;
      }
    }

    @include breakpoint.media('<=tablet') {
      height: 100px;
      min-width: 150px;

      svg {
        width: 50px;
        height: 50px;
      }
    }

    @include breakpoint.media('<=phone') {
      min-width: 100px;

      svg {
        width: 50px;
        height: 50px;
      }
    }

  }

  &--list {
    width: 85%;
    display: flex;
    position: relative;
    border-radius: 10px;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    border: 2px solid var(--background);

    p {
      font-weight: 600;
      font-size: 18px;

    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

  }

  &__taskAmount {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 6px 0 6px;
    padding: 5px 15px;
    font-size: 20px;
  }


}