.listItem {
  &__grid {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    min-height: 180px;
    width: 295px;


    svg {
      position: absolute;
      z-index: -1;
    }

    p {
      z-index: 1;
      position: absolute;
      bottom: 0;
      font-weight: 600;
      font-size: 25px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }


  }

  &__list {
    width: 85%;
    display: flex;
    position: relative;
    border-radius: 10px;
    align-items: center;
    padding: 0 20px;
    gap: 20px;

    p {
      font-weight: 600;
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

  }

  &__taskAmount {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    padding: 5px 15px;
    font-size: 20px;
  }


}