.listItem {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  min-height: 140px;

  &__taskAmount {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    padding: 5px 15px;
    font-size: 20px;
  }

  svg {
    position: absolute;
    z-index: -1;
  }

  p {
    z-index: 1;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: 25px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}