@use '../../../styles/breakpoints' as breakpoint;
@use '../../../styles/variables' as *;

.iconsContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__icon {
    border-radius: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-color: transparent;

    &.active {
      border-color: var(--tertiary);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.colorsContainer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__color {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 3px solid;
    border-color: transparent;

    &.active {
      border-color: var(--tertiary);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@include breakpoint.media('<=LGphone') {
  .iconsContainer {
    &__icon {
      border-radius: 10px;
      padding: 2px;
      border: 2px solid;
      border-color: transparent;
      width: 25px;
      height: 25px;
    }
  }

  .colorsContainer {
    &__color {
      width: 25px;
      height: 25px;
    }
  }
}