@use '../../../styles/variables' as *;

.form {
  background-color: transparent;

  &__textFields {
    margin-bottom: 80px;
  }

  &__createAccount {
    font-size: $p-font-size-large !important;

    span {
      color: var(--primary);
      text-decoration: none !important;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}