@use '../../../../../../../styles/breakpoints' as breakpoint;
@use '../../../../../../../styles//variables' as *;

.taskContainer {
  flex: 1;
  height: 70vh;
  overflow: hidden;
  display: flex;

  &__left {
    flex: 1;

    &__listsContainer {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      overflow-x: hidden;
    }
  }

  &__right {
    flex: 2;
    height: 100%;
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;

    &__upperContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin: 0;
      }

      &__leftSide {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &__rightSide {
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }

    &__tasksContainer {
      &__tittle {
        margin: 20px
      }

    }
  }

  @include breakpoint.media('<=SMdesktop') {

    &__left {

      svg {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: $p-font-size-x-small;
      }
    }

  }

  @include breakpoint.media('<=LGtablet') {
    height: 75vh;

    &__left {
      display: none;
    }

    &__right {
      padding: 0 10px;
    }

  }

  @include breakpoint.media('<=tablet') {
    height: calc(70vh);

    &__left {
      display: none;
    }

    &__right {
      padding: 0 10px;
    }

  }

  @include breakpoint.media('<=LGphone') {
    height: calc(70vh - 40px);

    &__right {
      &__upperContainer {
        h3 {
          font-size: $h3-font-size-small;
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }

    }

  }


}