.taskContainer {
  flex: 1;
  height: 70vh;
  overflow-y: hidden;
  display: flex;

  &__left {
    flex: 1;

    &__listsContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      overflow-y: auto;
    }
  }

  &__right {
    flex: 2;
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;

    &__upperContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        margin: 0;
      }

      &__leftSide {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }

    &__tasksContainer {


      p {
        margin: 20px
      }

      &__tasks {
        display: flex;
        flex-direction: column;
        gap: 20px;

      }
    }
  }
}