// THEMES
// LIGHT
$primary-light: #2966E9;
$text-light: #191B1F;
$background-light: #F7F7F7;
$secondary-light: #C9D0DF;
$tertiary-light: #EDEFF3;
$hint-light: #777F8A;
$primary-transparent-light: #2966E910;
// DARK
$primary-dark: #4DA2F5;
$text-dark: #F9F9F9;
$background-dark: #031926;
$secondary-dark: #384B5A;
$tertiary-dark: #1D2E3B;
$hint-dark: #999999;
$primary-transparent-dark: #4DA2F530;
// SPECIAL
$red: #D82A38;
$red-transparent: #D82A3830;
$yellow: #FCBA77;
$green: #5ECD90;

// FONT-SIZE
$h2-font-size-large: 48px;

$p-font-size-large: 20px;
$p-font-size-medium: 18px;

$font-family: 'Poppins' sanserif;