@use '../../../styles/variables' as *;

.form {

  &__buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__createAccount {
    font-size: $p-font-size-large !important;

    span {
      color: var(--primary);
      text-decoration: none !important;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}