@use '../../../../styles/breakpoints' as breakpoint;
@use '../../../../styles/variables' as *;

.taskDetails {
  background-color: var(--tertiary);
  border-radius: 10px;
  padding: 10px 20px;

  &__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &__datePicker {
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: var(--text);
      padding: 5px 10px;
      background-color: var(--background);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      input {
        background-color: var(--background);
        border: none;
        font-size: 20px;
        border-radius: 10px;
        padding: 5px 0px;
        pointer-events: none;
        font-family: var(--font-family);

      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }

      input[type="date"]::-moz-focus-inner {
        border: 0;
      }

      input[type="date"]::-ms-clear {
        display: none;
      }

      input[type="date"]::-ms-expand {
        display: none;
      }
    }
  }

  @include breakpoint.media('<=LGphone') {
    &__option {
      p {
        font-size: $p-font-size-x-small;
      }

      &__datePicker {
        gap: 10px;

        >input {
          width: 60%;
        }

        >svg {
          width: 24px;
        }
      }


    }
  }
}