@use '../styles/variables' as *;

:root {
  background-color: $background-light;
  color: $text-light;

  &.dark {
    background-color: $background-dark;
    color: $text-dark;
  }
}


h2 {
  font-size: $h2-font-size-large;
}

p {
  font-size: $p-font-size-large;
}