@use '../../../styles/variables' as *;

.navbarLink {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
  color: var(--hint) !important;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;


  &:hover {
    cursor: pointer;
    background-color: var(--primary-transparent);
  }
}

.active {
  background-color: var(--primary-transparent);
  color: var(--primary) !important;
}