@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as mixins;

.form {

  &__textFields {
    margin-bottom: 60px;
  }

  &__signInToAccount {
    font-size: $p-font-size-large !important;

    span {
      @include mixins.theme-colors(color, $primary-dark, $primary-light);
      text-decoration: none !important;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}