@use '../../styles/variables' as *;

.userPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__left {
    display: flex;
    flex-direction: column;

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    &__notification {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:before {
        background-color: var(--primary);
        content: "";
        position: absolute;
        top: 4px;
        right: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }

      svg {
        color: var(--hint);
      }

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    &__user {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      img {
        border-radius: 50%;
      }


    }

  }

}