@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as breakpoint;

.userPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__left {
    display: flex;
    flex-direction: column;

    &__shortGreetings {
      display: none;
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    @include breakpoint.media('<=SMdesktop') {
      h3 {
        font-size: $h3-font-size-x-small;
      }

      p {
        font-size: $p-font-size-x-small;
      }
    }

    @include breakpoint.media('<=LGtablet') {
      p {
        display: none;
      }
    }

    @include breakpoint.media('<=tablet') {
      h3 {
        font-size: $h3-font-size-xx-small;
      }
    }

    @include breakpoint.media('<=LGphone') {
      &__shortGreetings {
        display: block;
      }

      &__longGreetings {
        display: none;
      }
    }


  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0 0 0 10px;

    &__user {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      @include breakpoint.media('<=SMdesktop') {
        p {
          font-size: $p-font-size-small;
        }
      }

      @include breakpoint.media('<=tablet') {
        gap: 10px;


        img {
          width: 32px;
          height: 32px;
        }

        svg {
          width: 18px;
          height: 18px;
        }
      }

    }

  }

}