@use '../../styles/variables' as *;
@use '../../styles/mixins' as mixins;

.welcome {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 95vh;

  &__title {
    display: none;
  }

  &__container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    &__left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;

      p {
        text-align: center;
        width: 600px;
      }
    }

    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;


      p {
        font-size: $p-font-size-medium;

        span {
          text-decoration: underline;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }


      }
    }
  }


}