@use '../../../styles/breakpoints' as breakpoint;
@use '../../../styles/variables' as *;

.taskManager {


  &__subtaskInput {
    display: flex;
    align-items: center;
    margin: 20px 20px;

    svg {
      color: var(--hint);

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }

    input {
      background-color: var(--secondary);
      border: none;
      border-radius: 10px;
      font-size: 18px;
      padding: 20px;
      width: 80%;

      color: var(--text);

      &::placeholder {
        color: var(--hint);
      }

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  &__subtasksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    width: 100%;

    &__subtask {
      display: flex;
      align-items: center;
      width: 100%;


      input {
        background-color: var(--secondary);
        border: none;
        border-radius: 10px;
        font-size: 18px;
        padding: 20px;
        width: 60%;

        color: var(--text);

        &::placeholder {
          color: var(--hint);
        }

        &:focus {
          outline: none;
          border: none;
        }
      }

      svg {
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }

  &__buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &__deleteButton {
      background-color: var(--red-transparent);
      color: var(--red);
    }
  }

  @include breakpoint.media('<=LGphone') {
    &__buttonsContainer {
      &__deleteButton {
        font-size: $p-font-size-small;
      }

      &__submitButton {
        font-size: $p-font-size-small;
      }
    }
  }
}