.checkbox {
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

}

.completed {
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 10px;
  border-color: var(--primary);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}