/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/logo/logo.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.logo_logo__xn9ab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo_logo__welcomeLogo__M0dlt {
  margin-top: -50px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/[locale]/(authenticated)/layout.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.layout_layoutContainer__dPcId {
  display: flex;
  flex-direction: row;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/eisenhower-matrix-icon/eisenhower-matrix-icon.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.eisenhower-matrix-icon_iconContainer__wKW3A {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.eisenhower-matrix-icon_iconContainer__row__6lbkl {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.eisenhower-matrix-icon_iconContainer__row__block__jC__g {
  width: 5px;
  height: 5px;
  border: 2px solid;
  border-radius: 2.5px;
}

.eisenhower-matrix-icon_active__WfWq0 #eisenhower-matrix-icon_first__n0iY_ {
  background-color: #D82A38;
  border-color: #D82A38;
}
.eisenhower-matrix-icon_active__WfWq0 #eisenhower-matrix-icon_second__UXYK0 {
  background-color: #FCBA77;
  border-color: #FCBA77;
}
.eisenhower-matrix-icon_active__WfWq0 #eisenhower-matrix-icon_third__66tU1 {
  background-color: var(--primary);
}
.eisenhower-matrix-icon_active__WfWq0 #eisenhower-matrix-icon_fourth__3NJUD {
  background-color: #5ECD90;
  border-color: #5ECD90;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/navbar/navbar-link/navbar-link.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar-link_navbarLink__zGoGT {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
  color: var(--hint);
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
}
.navbar-link_navbarLink__zGoGT:hover {
  cursor: pointer;
  background-color: var(--primary-transparent);
}

.navbar-link_active__Mcm12 {
  background-color: var(--primary-transparent);
  color: var(--primary);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/navbar/navbar.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.navbar_navbar__geewZ {
  height: 100vh;
  min-width: 300px;
  background-color: var(--tertiary);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar_navbar__container__46buu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  padding: 40px 0;
  justify-content: space-between;
}
.navbar_navbar__container__fields__hcN_q {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 80%;
}
.navbar_navbar__container__fields__hcN_q p {
  color: var(--hint);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
