@use '../../styles/variables' as *;

// Light Theme
.light {
  --primary: #{$primary-light};
  --text: #{$text-light};
  --background: #{$background-light};
  --secondary: #{$secondary-light};
  --tertiary: #{$tertiary-light};
  --hint: #{$hint-light};
  --primary-transparent: #{$primary-transparent-light};
}

.dark {
  --primary: #{$primary-dark};
  --text: #{$text-dark};
  --background: #{$background-dark};
  --secondary: #{$secondary-dark};
  --tertiary: #{$tertiary-dark};
  --hint: #{$hint-dark};
  --primary-transparent: #{$primary-transparent-dark};
}

// Special Colors
:root {
  --red: #{$red};
  --red-transparent: #{$red-transparent};
  --yellow: #{$yellow};
  --green: #{$green};

  --h2-font-size-large: #{$h2-font-size-large};
  --h3-font-size-large: #{$h3-font-size-large};

  --p-font-size-large: #{$p-font-size-large};
  --p-font-size-medium: #{$p-font-size-medium};
  --p-font-size-small: #{$p-font-size-small};

  --font-family: #{$font-family};
}

// Apply the theme
body {
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  overflow-y: hidden;

  h2 {
    font-size: var(--h2-font-size-large);
  }

  h3 {
    font-size: var(--h3-font-size-large);
  }

  p {
    &.large {
      font-size: var(--p-font-size-large);
    }

    &.medium {
      font-size: var(--p-font-size-medium);
    }

    &.small {
      font-size: var(--p-font-size-small);
    }
  }
}

h2 {
  font-size: $h2-font-size-large;
}

h3 {
  font-size: $h3-font-size-large
}

p {
  font-size: $p-font-size-large;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  font-size: $p-font-size-medium;
  font-family: $font-family;
}

a:-webkit-any-link {
  color: var(--text);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-transparent);
}