@use '../../styles/variables' as *;

:root {
  background-color: $background-light;
  color: $text-light;
  height: 100%;


  &.dark {
    background-color: $background-dark;
    color: $text-dark;
  }
}

body {
  margin: 0;
  height: 100%;

}


h2 {
  font-size: $h2-font-size-large;
}

p {
  font-size: $p-font-size-large;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  font-size: $p-font-size-medium;
  font-family: $font-family;
}