.listPage {
  flex: 1;
  margin: 0 0 0 40px;

  &__upperContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__leftSide {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}