@use '../../../styles/breakpoints' as breakpoint;

.layoutContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;


  &__mainContainer {
    width: 100%;
    margin: 40px;
  }

  @include breakpoint.media('<=tablet') {
    &__mainContainer {
      margin: 20px;
    }
  }
}