.homePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 40px;

  &__upperContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}